p[b-31670p407v] {
    margin: 0;
    line-height: 30px;
}

.w-120[b-31670p407v] {
    width: 120px;
    display: inline-block;
}

label[b-31670p407v] {
    padding-right: 10px;
}

.unit[b-31670p407v] {
    color: #888;
    padding-left: 4px;
}

table[b-31670p407v] {
    margin-bottom: 16px;
}
